* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #253056;
    position: relative;
}

nav {
    width: 100%;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: -1px 9px 21px -4px rgba(0, 0, 0, 0.57);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    top: 0px;
    z-index: 2;
    background-color: white;
}

#searchWrapper {
    line-height: 50px;
    width: 100%;
    padding-right: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: auto;
    position: relative;
}

#searchWrapper_header {
    line-height: 50px;
    width: 100%;
    padding-right: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: auto;
    position: relative;
}

input[type="text"] {
    height: 30px;
    width: 500px;
    margin-left: 5px;
}

.fa{
    position: absolute;
    right: 20px;
    bottom: 8px;
}

#corner-piece {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    margin-top: -50px;
    padding: 0px;
}

#corner-piece2 {
    position: absolute;
    display: block;
    right: left;
    top: 0;
    transform: scaleX(-1);
    margin-top: -50px;
    padding: 0px;
}

#kettospont {
    color: rgb(199, 132, 6);
    font-size: 30px;
}

#content {
    width: 100%;
    height: 98vh;
}

h1, h3 {
    text-align: center;
}

h1 {
    line-height: 45px;
    margin-left: 100px;
}

ul {
    list-style-type: none;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

li {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

span {
    font-size: 13px;
    color: #646464;
}

h2 {
    padding-bottom: 10px;
    text-align: center;
}

img {
    width: 230px;
    height: 270px;
}

#bal {

    position: absolute;
    left: 100px;
    top: 100px;
}

#bal2 {
    position: absolute;
    margin-top: 200px;
    left: 100px;
    top: 650px;
}

#jobb2 {
    position: absolute;
    margin-top: 200px;
    right: 100px;
    top: 650px;
}

#container-dfef942d5a8c3424633aa04692d65909 {
    width: 200px;
    height: 600px;
    position: absolute;
    right: 100px;
    top: 90px;
}

.flip-card {
    color: #253056;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin-bottom: 200px;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg) translate(30px, 0px);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 270px;
    height: 370px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.flip-card-front {
    color: #253056;
}

.flip-card-back {
    background-color: orange;
    color: white;
    font-weight: bold;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#cards {
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    width: 60%;
    flex-wrap: wrap;
}

#button {
    position: fixed;
    display: none;
    bottom: 50px;
    right: 50px;
    padding: 10px;
    background-color: #253056;
    transform: rotate(-180deg);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    text-align: center;
}

.banner {
    display: none;
}

#form {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

a {
    text-decoration: none;
    color: #253056;
    font-size: 15px;
}

h4 {
    text-align: center;
}

#orange {
    color: rgb(199, 132, 6);
    font-size: large;
}

.wrapper {
    width: 90%;
    margin: 0;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.container {
    background-color: rgb(199, 132, 6);
    float: right;
    height: 25px;
    width: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menulogo {
    height: 3px;
    width: 30px;
    margin: 3px 0;
    background-color: #253056;
    line-height: 50px;
    cursor: pointer;
}

.menu {
    width: 500px;
    top: 50px;
    height: 100vh;
    background-color: white;
    padding: 50px;
    transform: translateX(-500px);
    transition: .5s;
    z-index: 2;
    position: fixed;
}

.wrapper {
    cursor: pointer;
    width: 50px;
}

.menu li {
    list-style-type: none;
    padding: 30px 0;
}

.menu li a {
    color: #253056;
    text-decoration: none;
    font-size: 20px;
    ;
    text-align: center;
    ;
}

.menu li a:hover {
    font-weight: bold;
}

.showmenu {
    transform: translate(0);
}

@media only screen and (min-width:710px) and (max-width:854px) {
    #bal {
        left: 5%;
        top: 110px;
    }

    #bal2 {
        left: 5%;
    }

    #jobb2 {
        right: 5%;
    }

    #container-dfef942d5a8c3424633aa04692d65909 {
        right: 3%;
        top: 95 px;
    }

    #content {
        width: 100%;
    }

    .menu {
        width: 200px;
        margin-top: 0px;
        z-index: 2;
    }

    #cards{
        margin-top: 80px;
    }

    .menu li a {
        font-size: 16px;
    }
    nav{
        padding: 0px;
    }
    h1{
        padding: 0px;
        margin-left: 10px;
    }
    .wrapper{
        margin-right: 10px;
    }
}

@media only screen and (min-width:1000px) and (max-width:1300px) {
    #bal {
        left: 3%;
        top: 90px;
    }

    #bal2 {
        left: 3%;
    }

    #jobb2 {
        right: 3%;
    }

    #container-dfef942d5a8c3424633aa04692d65909 {
        right: 1.5%;
        top: 90px;
    }

    h1{
        padding: 0px;
        margin-left: 10px;
    }
    .wrapper{
        margin-right: 10px;
    }

    .menu {
        width: 200px;
        z-index: 2;
        margin-top: 0px;
    }

    .menu li a {
        font-size: 16px;
    }

    #cards{
        margin-top: 80px;
    }
}

@media only screen and (max-width:710px) {
    .menu {
        width: 200px;
        z-index: 2;
        margin-top: 0px;
    }

    .menu h2 {
        display: none;
    }

    .menu li a {
        font-size: 16px;
    }

    nav ul {
        display: none;
    }

    nav {
        position: fixed;
        z-index: 1;
    }

    h1 {
        margin-left: 0px;
    }

    .container {
        padding-top: 6px;
    }

    #bal {
        display: none;
    }

    #bal2 {
        display: none;
    }

    #jobb2 {
        display: none;
    }

    #container-dfef942d5a8c3424633aa04692d65909 {
        display: none;
    }

    .banner {
        display: flex;
        justify-content: center;
        position: inherit;
        margin-top: 75px;
        width: 100%;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg) translate(18px, 0px);
    }

    #form {
        padding: 0px;
        margin-top: 100px;
        z-index: 1;
    }


    #content {
        display: flex;
        flex-direction: column;
    }

    #content .banner {
        position: inherit;
        display: flex;
        align-self: center;
        margin: auto;
    }

    #cards {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0px;
        margin-top: 50px;
        padding: 0px;
        padding: auto;
    }

    .flip-card {
        padding: 0px;
        padding-left: 10px;
        margin-right: 0px;
    }

    .div-container {
        display: flex;
        flex-direction: column;
    }

    #searchWrapper {
        width: 70%;
        padding: 0px;
        margin: auto;
        display: flex;
    }

    #searchWrapper_header {
        display: none;
    }

    .wrapper{
        margin-right: 0px;
    }

    input[type="text"] {
        margin-top: 20px;
        width: 500px;
    }

    .searchicon2{
        display: block;
    }
    .fa{
        position: absolute;
        right: 10px;
        bottom: 8px;
    }
}